[2018-11-06 11:02] lorro opened #1 "Possible to call toast out of this context?"
Hi,

I wondered if it's possible to call the toast methods without having to go through the 'this' context but with a static method or so? I would like to call this in a vuex plugin, but the 'this' context doesn't have the $toast property here unfortunately.

Thanks.

[2018-11-06 20:44] eolant commented on #1
The easiest way to call toast from Vuex would be to import app there. First you need to export app in the module where you init it:
`export const app = new Vue(...)`

And then if you want to call it outside of Vue context:
`import { app } from '~/app'`

And call toast:
`app.$toast.info('Hello!')`

You might need to check the import path as I gave an example from my Laravel Vuetify repo.

[2018-11-07 09:34] lorro commented on #1
Thanks for pointing that out for me :)
That works perfectly.

[2018-11-07 09:34] #1 closed

[2019-02-18 10:15] jb-reynaud opened #2 "Error in nextTick: "ReferenceError: document is not defined""
There is an error poping using this library:
[code]
Which refere to this line of code https://github.com/eolant/vuetify-toast-snackbar/blob/master/src/index.js#L10

should we check if document is defined before? as it works, it's just an annoying warning

[2019-02-19 22:24] eolant commented on #2
Thanks for posting this. Can you please check [doc example](https://eolant.github.io/vuetify-toast-snackbar/) and see if you have the same issue there?
`document` is a global variable and should be available there in the browser context.
Can you please provide more details on your setup and libraries and versions used as well as the browser with version where you see the error.

[2019-03-02 16:48] garyo opened #3 "Typescript declaration file?"
Any chance you could write a Typescript declaration (.d.ts) for this module?

[2019-03-03 02:15] #3 closed

[2019-03-04 05:41] eolant commented on #3
@garyo thanks for bringing it up. I've put a declaration file in place. Just wondering if it did what you were after? I myself don't really work with typescript.

[2019-03-07 07:39] Jnig opened #4 "Missing info, error, ... in TS declaration file"
Hi,

thanks for the great component! Since the last update I get the following error:

ERROR in /app/src/modules/validation/ScanList.vue
147:17 Property 'info' does not exist on type '(message: string, options?: VuetifyToastObject | undefined) => void'.
    146 |

I looks like the declaration for the info, errror,... functions is missing in the added TS file.

Thanks!

[2019-03-07 23:26] eolant commented on #4
@Jnig Hi,
Thanks for submitting the issue. I can see the problem here, as these are dynamically created. Though it might be possible to write interface for default methods, I'm not sure about the best approach to write an interface for everything. If you have any ideas how to make TS happy, you're welcome to comment or create a pull request.
The only solution that comes to mind is to write:
[code]

[2019-03-11 22:53] #4 closed

[2019-03-11 22:54] eolant commented on #2
Closing due to lack of activity.

[2019-03-11 22:54] #2 closed

[2019-03-12 14:44] Jnig commented on #4
thanks for the fix!! 👍

[2019-03-16 15:49] votintsev opened #5 "Inject in Nuxt context"
Hello.

Do you have idea how I can inject you package in nuxt context. I tried created plugin like:

[code]

inspired: [https://github.com/nuxt-community/modules/blob/master/packages/toast/plugin.js](https://github.com/nuxt-community/modules/blob/master/packages/toast/plugin.js)

But it doesn't work :(

[2019-03-27 02:19] eolant commented on #5
Hi, sorry took me some time to take a look at it. It's pretty simple, put this in `plugins/vuetify.js`:
[code]

[2019-03-27 02:19] #5 closed

[2019-03-27 10:34] votintsev commented on #5
Hi, @eolant . Thanks for the answer. But you provide solution not for my question. I need [Combined inject](https://nuxtjs.org/guide/plugins#combined-inject).

[2019-03-27 22:37] eolant commented on #5
Sorry @votintsev , I misunderstood. Please try example from nuxt documentation:
[code]
It works for me and I'm able to call toast from store context too. Note that you'll still need my previous answer to define `VSnackbar` component. Just add `export` at the end of the file.

[2019-04-22 22:55] akkhan20 opened #6 "unknown custom element v-snakbar & v-btn"
When using vuetify loader the browser console says

### main.js

[code]
### vuetifyToastSnackbar.js

[code]

[2019-04-22 23:04] akkhan20 opened #7 "Can the toast be queued?"
As we can call the toast from anywhere in case multiple toasts are displayed the old ones vanish as soon as new one is created

[2019-05-01 04:57] eolant commented on #6
@akkhan20 thanks for posting an issue, but I can't reproduce your issue, can you please add a link where I can see it as well as provide what browser are you using. Thank you.

On the side note I assume you have
`import Vue from 'vue'` in your `vuetifyToastSnackbar.js` file.

[2019-05-01 06:27] jampack commented on #6
sorry i believe the problem is with vuetify-loader or the way it works because when this plugin is installed through npm it throws that error but if the plugin is replicated directly into the project then it works fine.
Closing the issue as its not related solely to this plugin.

[2019-05-01 06:27] #6 closed

[2019-05-02 05:11] eolant commented on #7
@akkhan20 I've added optional property to toast `queueable: false` if it's true Toast will be added to the queue. It's also possible to mix both types. Not queueable will close existing toast and be displayed first. Hope this solves this issue for you.

[2019-05-02 05:11] #7 closed

[2019-05-09 08:31] rfukumaCoresoft opened #9 "VuetifyToastObject.queueable is not found"
https://github.com/eolant/vuetify-toast-snackbar/blob/master/src/index.d.ts
[code]

[2019-05-09 22:06] eolant commented on #9
Thanks!

[2019-05-09 22:06] #9 closed

[2019-05-10 18:35] ruudboon opened #10 "Default queueable doesn't work"
Thank you for this great vuetify extension. It works great.
I only seeing one issue.
I set the default option queueable to true when setting up the plugin (nuxt).
When firing notices they're not queued. When I directly add the queueable true option the calling method it works great. Other default options like position are working great.

[2019-05-12 23:17] #10 closed

[2019-05-13 05:09] ruudboon commented on #10
👌

[2019-05-13 06:08] eolant commented on #10
Thanks for the issue btw :)

[2019-05-20 14:07] sunriseydy commented on #6
I found the cause of this error, the vuetify documentation mentioned in the introduction to vuetify-loader ([this](https://vuetifyjs.com/zh-Hans/framework/a-la-carte#functional-components)):

Functional components are inlined at runtime by vue, and cannot have a components property in their options. Any vuetify components used in a custom functional component must either be registered globally (re

[2019-05-20 21:57] eolant commented on #6
Thank you @sunriseydy! Looks similar to Nuxt.js behaviour.

[2019-05-29 15:14] dcb99 opened #11 "Toast appearance: There's no close button on the toasts, text isn't centered"
When the toast notification is displayed, there's no indication to  the user that they can close it. It would be helpful (and look better IMO) if there was an "X" or close button at the end of the toast. It would also be nice to be able to center the text in the toast.

[2019-06-18 07:11] eolant commented on #11
@dcb99 Thanks for your thoughts, sorry it took me so long to look into this. I can see where "X" close button can make sense. I'll work on implementing this feature. Text alignment also can make sense but probably only if there are no icons or no close button. I think case of aligning text might be too narrow and custom to implement and it'll be easier for those who want to change the style of the

[2019-06-24 06:07] Sandural opened #12 "Cannot find module '../node_modules/style-inject/dist/style-inject.es.js"
Cannot find module '../node_modules/style-inject/dist/style-inject.es.js

[2019-06-24 06:23] #11 closed

[2019-06-24 06:24] eolant commented on #12
I can't replicate this issue, probably related to how you bundle your assets. I'd suggest trying to install style inject manually `npm install style-inject`.

[2019-06-24 06:58] catelina95 commented on #12
![image](https://user-images.githubusercontent.com/16163090/59997738-565e7a00-9690-11e9-8110-1ae997590679.png)
![image](https://user-images.githubusercontent.com/16163090/59997750-5eb6b500-9690-11e9-8dae-b1e1a491c6f1.png)
`npm install style-inject` can't solve this problem.

[2019-06-24 07:20] catelina95 commented on #12
哈哈, 谢谢啦.. 我解决这个问题了... 我用你的项目里的源文件解决的. thank you very much..☺️

[2019-07-15 07:41] vasan057 commented on #4
app.js:142552 [Vue warn]: Unknown custom element: <v-snackbar> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

(found in <Root>)

[2019-07-15 08:32] vasan057 opened #13 "compoent not register"
I am getting  app.js:142552 [Vue warn]: Unknown custom element: <v-snackbar> - did you register the component correctly?

[2019-07-22 09:32] JafarAkhondali commented on #13
I have the same problem

[2019-07-22 09:34] eolant commented on #13
Can anyone provide more information on how to reproduce this issue?

[2019-07-22 09:38] JafarAkhondali commented on #13
I did nothing special! just used your config, and tried to call the module:
`this.$toast.info('Info toast')`
Here is the result:
![image](https://user-images.githubusercontent.com/11364402/61622475-1a680600-ac8a-11e9-817a-461550864937.png)

And there is no snackbar

[2019-07-22 09:44] eolant commented on #13
No mean what kind of environment is it? And what init code is?
Please not that if you're using vue-loader you have to specify `VSnackbar`, `VBtn`, `VIcon` as global components. Refer to [Nuxt.js set up](https://github.com/eolant/vuetify-toast-snackbar).

[2019-07-22 09:55] JafarAkhondali commented on #13
I'm using this template:
https://github.com/tookit/vue-material-admin

Its not Nuxt.js. Init code is the one you provided

[2019-07-22 10:42] JafarAkhondali commented on #13
Specified global components as mentioned in Nuxt.js, and it worked. But I'm not using Nuxt, so why should they registered globally? Perhaps better to fix it or mention this in the docs

[2019-07-22 22:24] eolant commented on #13
Fair point, I'll add vue loader next to Nuxt.js. I believe original issue is the same and it's safe to close this.

[2019-07-22 22:24] #13 closed

[2019-07-23 15:45] victorsilent opened #14 "How to set an custom function"
Hello, on the docs I can see you calling this.$toast.custom('Custom'), is possible to create different functions to call the toast? this.$toast.custom1('Custom'), this.$toast.custom2('Custom') and so on?

[2019-07-23 16:33] #14 closed

[2019-07-29 15:55] limaofeng2010 opened #16 "It dose not work as expected in vuetify 2.0.2"
excellent job.  But after i upgrade vuetify from 1.5.16 to 2.0.2, i found the snackbar wont show any more , only a plain text appened after the page.

[2019-07-29 23:07] eolant commented on #16
@limaofeng2010 thanks for bringing it to my attention, now it does :)

[2019-07-29 23:07] #16 closed

[2019-07-30 14:28] lorro opened #18 "Replace the "flat" prop of close button in "text""
This is also a change from Vue1 to Vue2.
The "flat" prop of VBtn has been renamed to "text".

Also the prop 'auto-height' has been removed

[2019-07-31 00:05] #18 closed

[2019-07-31 00:09] eolant commented on #18
@lorro thanks!
I double checked the docs and it looks like `text` property isn't required as `icon` already does it.

[2019-08-01 03:55] limaofeng2010 commented on #16
But it still dose not work on my project. it shows error message:
`[Vue warn]: Unknown custom element: <v-snackbar> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

(found in <Root>) vue.runtime.esm.js:619`

[2019-08-01 03:59] limaofeng2010 commented on #16
I noticed that the main.js changed a little.  the vuetify is imported not by using `Vue.use('vuetify')`,but imported as the Vue instance's member like below:

import App from './App.vue'
import router from './router'
import store from './store'
import './registerServiceWorker'
import vuetify from './plugins/vuetify';
import VuetifyToast from 'vuetify-toast-snackbar'

Vue.config.productionTip = fal

[2019-08-01 04:00] limaofeng2010 commented on #16
I noticed that the main.js changed a little. the vuetify is imported not by using Vue.use('vuetify'),but imported as the Vue instance's member like below:

    import Vue from 'vue'
    import App from './App.vue'
    import router from './router'
    import store from './store'
    import './registerServiceWorker'
    import vuetify from './plugins/vuetify';
    import VuetifyToast from 'vuetify-

[2019-08-01 09:39] eolant commented on #16
@limaofeng2010 yes, Vuetify init is slightly different now.

[2019-08-02 01:35] spencercap commented on #16
hm, i am getting this error in the Chrome console.
Using Vuetify 2.0.4 after upgrading from 1.5.16.

[code]

Any thoughts on how to fix this? Many thanks

[2019-08-02 04:47] eolant commented on #16
@spencercap most likely you're using a component loader and you need to register global components on init:
[code]

[2019-08-05 00:05] limaofeng2010 commented on #16
It is still not working. i checked the DOM inspector in Chrome, the Toast-snackbar has been rendered with plain text but the css style (might be the vuetify ) dos not has any effect.

[2019-08-05 05:18] jralison opened #19 "In nuxt, `$toast` is not available in context inside another plugins like axios"
I have the `$toast` property working just fine in my components and in the store, but when I try to call it from a plugin (axios in this case), the property isn't available.

I tried this in `~/plugins/vuetify-toast-snackbar.js`:

[code]

And in `~/plugins/axios.js`, with:

[code]

neither `app.$toast` nor `ctx.$toast` is available.

Can you help me to identify what might be wrong in my code?
All

[2019-08-05 05:23] eolant commented on #16
@limaofeng2010 can you please provide more details on your set up? Or maybe even create a sandbox? Here is simple [example](https://codesandbox.io/embed/vuetify-playground-yqqdw).

[2019-08-05 07:07] eolant commented on #16
@limaofeng2010 also can you make sure you linked Vuetify css/sass?

[2019-08-05 08:01] eolant commented on #19
@jralison yes, that is an interesting one.
I've spent some time to figure out how to do it and here is the [workaround](https://github.com/nuxt-community/vuetify-module/issues/47)

You should be able to access `Vue.prototype.$toast`. It will definitely work with Vuetify 1.5. I'll take a look at Nuxt.js + Vuetify 2 later.

[2019-08-05 17:58] aldarund commented on #12
@eolant in your dist  you are referencing style-inject while there no peer dep for it. And its referenced really wrong way e.g.
../node_modules/styles_inject - which would end up into non existing path. So your dist is broken..

[2019-08-06 00:51] eolant commented on #12
@aldarund Looks like rollup postcss and bili doing something weird. I was able to find and import statement in [rollup-plugin-postcss](https://github.com/egoist/rollup-plugin-postcss/blob/master/src/postcss-loader.js) but i'm not sure yet how to resolve this.

---

Actually there is a way to bundle modules in all builds. I think I will go with this option.

[2019-08-06 01:27] #12 closed

[2019-08-06 02:49] limaofeng2010 commented on #16
thanks a lot. I fount it not avalible for vuetify that install in Plugin manner（ie. ` vue add vuetify  `）.  it works now after i convert vuetify to the old way (ie. `npm install --save vuetify; import vuetify from 'vuetify'; Vue.use(vuetify);  new Vue(vuetify: new vuetify({}))`).

[2019-08-06 16:06] jralison commented on #19
@eolant I think I found out what was my mistake.

`$toast` property is not available in the context object at first run of the plugin script, but it is available in `ctx.app` later on. So, when using object destructuring in the function argument `{ $axios, $toast }` to extract the `$toast` reference, I ended up assigning `$toast` to a `undefined`.

Thus, I have to extract the `app` property and la

[2019-08-06 17:34] pedrazadixon opened #20 "update text in real time"
Any way to update a part of message string in real time?
I want notification (toast) that update a download progress from axios.
¿Any idea?

[2019-08-06 23:55] eolant commented on #19
@jralison that's great, I didn't have a chance to look at `Vuetify 2` just yet, but I can say that `$toast` doesn't seem to be available anywhere on `Vuetify 1.5` and `Nuxt 2.4` and the workaround I suggested is the only way to access it.

I'll leave this open for now and maybe look at updating Readme with all of this information.

[2019-08-07 00:28] eolant commented on #20
As of now, it's not possible. But I played around a bit and there is a way to do it by exposing currently displayed toast component using a method:
[code]
Will this work in your use case?

P.S.: don't mind infinite interval :)

[2019-08-09 13:09] pedrazadixon commented on #20
I try this but getCmp() is not defined.

[2019-08-09 13:26] eolant commented on #20
@pedrazadixon, yes, because I haven't implemented it yet, just asking if this kind of workflow will work for your case?

[2019-08-09 13:47] pedrazadixon commented on #20
Ahhh ok. Of course!
It's just what I need

Thank you in advance for your answers.

[2019-08-11 22:48] #20 closed

[2019-08-13 19:41] jappyjan opened #21 "not working as should under vuetify 2.0.5"
after upgrading to vuetify 2.0.5, the stylings are wrong.

all toasts have black background no matter what options will be passed.
also the font is Arial instead of roboto.

![Screenshot (2)](https://user-images.githubusercontent.com/10154260/62971850-0b9ceb00-be13-11e9-8bb2-0962dee31d0e.png)

toast call:

    app.$toast(
        app.$t(error.message) as string,
        {
            color: 'error

[2019-08-13 22:50] eolant commented on #21
@jappyjan hi there, there was an issue like this already. Most likely something is wrong with your set up. Make sure you update library's version to the latest one and you init Vuetify 2 the new way: check out this [sandbox](https://codesandbox.io/s/vuetify-playground-132jh)

[2019-08-14 06:45] jappyjan commented on #21
I did use the official upgrade guide from vuetify 2.

I create a vuetify instance inside my vuetify-plugin file.

And will put this instance inside main.js into my Vue constructor.

New Vue({
 vuetify
})

Hat I'm not doing is using Vue.use(Vuetify)
Do I have to do this?

[2019-08-14 10:16] eolant commented on #21
@jappyjan you do, check out [official Vuetify documentation](https://vuetifyjs.com/en/getting-started/quick-start)

[2019-08-14 10:40] jappyjan commented on #21
im sorry. i was wrong. i actually do it the mentioned way.

//plugins/vuetify.ts

    import Vue from 'vue';
    import Vuetify, {VSnackbar, VIcon} from 'vuetify/lib';
    import de from 'vuetify/src/locale/de';

    Vue.use(Vuetify, {
        components: {
            VSnackbar,
            VIcon,
        },
    });

    export default new Vuetify({
        theme: {
            themes: {

[2019-08-14 10:47] eolant commented on #21
@jappyjan I don't see you doing:
[code]

[2019-08-14 11:02] jappyjan commented on #21
ah dammit copied VuetifyConfirm instead... :D will update my last comment with the right snippet...

[2019-08-14 12:25] eolant commented on #21
@jappyjan are you using the latest version of this library?

[2019-08-14 12:52] jappyjan commented on #21
oh man... that's been it...

sorry for all of this... next time i'll check version first -.-

[2019-08-14 12:52] #21 closed

[2019-08-15 17:11] 5E1EMENT opened #22 "Plugin doesn't work"
Hello. I want to use your plugin, but i have an error in my console when i emit it  like:
 `this.$toast('Default toast').`
I installed it correct in main.js:
`import VuetifyToast from 'vuetify-toast-snackbar'`
`Vue.use(VuetifyToast)`

There is an error: `Error in v-on handler: "TypeError: this.$toast is not a function"`
I tried to emit this toast from my component by click. Why this error happens?

[2019-08-15 22:48] eolant commented on #22
@5E1EMENT `this` isn't available in template context. Use `$toast` or move your call into method.

[2019-08-16 05:32] 5E1EMENT commented on #22
I call this.$toast('Default toast') from method

[2019-08-16 05:37] eolant commented on #22
@5E1EMENT can you please recreate your set up in the [sandbox](https://codesandbox.io/s/vuetify-playground-132jh)? I don't have enough information to help you.

[2019-08-16 06:57] 5E1EMENT commented on #22
I placed the code in the dialog file: https://codesandbox.io/s/vuetify-playground-mu582

[2019-08-16 07:36] eolant commented on #22
@5E1EMENT Oh, you are calling methods yourself without binding them to correct context (Vue.js does it for you normally). Try [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/call):
[code]

[2019-08-16 07:36] #22 closed

[2019-08-16 19:20] phiter opened #23 "[Suggestion] Make snack readable by screenreaders"
Hey!
I was creating my own solution and just came across yours, which seems to be more complete.

Screenreaders aren't reading the toast notification, that's because it lacks a `role="alert"` on it.

Just putting `role="alert"` on the `<v-snackbar` fixes the issue.

[2019-08-16 19:32] phiter opened #24 "Allow "close" icon to be text or use another icon pack"
Currently, `showClose` will make the close button show `<v-icon>close</v-icon>`, but that won't work if you use `mdi`, or another icon pack.

I'd suggest allowing changing the default close button with  either a custom icon or custom text, if I wanted it to say "Close" instead of an `X`, for example.

[2019-08-16 19:50] phiter commented on #24
Ok, so apparently if you put `close` and set vuetify to  use mdi, it'll automatically use `mdi-close`.

So just need an option to make it a text.

[2019-08-19 07:43] eolant commented on #23
@phiter Thanks for the suggestion, I'll add it.

[2019-08-19 08:52] #23 closed

[2019-08-19 08:52] #24 closed

[2019-08-21 20:16] mattLLVW opened #25 "Add vuetify loader in README"
It's a bit unclear how to load  vuetify-toast-snackbar with vuetify loader.

I found [this](https://github.com/eolant/vuetify-toast-snackbar/issues/6) closed issue which helped.

It would be helpful to add specifically how to load this with vuetify loader to the README

[2019-08-21 22:55] eolant commented on #25
@mattLLVW but it is in Readme? Under title "Vue loader (e.g. Nuxt.js)" or is this instruction not clear enough?

[2019-09-07 17:28] jappyjan opened #26 "OnClick Handler"
I'm using your toast component for a chat inside my application and it would be nice if you could add the option of adding a clickable button (call to action) into the toast.

to open the mentioned chat for example.

[2019-09-09 06:32] eolant commented on #26
@jappyjan great idea, I'll cook something up soon.

[2019-09-09 18:28] mattLLVW commented on #25
I didn't get that the vue loader was indeed the vuetify loader.

[2019-09-09 18:28] #25 closed

[2019-09-15 10:04] Nikey646 opened #28 "Remove snackbar element from DOM when closed"
This library adds a new snackbar every time the $toast method is called. When this method is used extensively, it creates a lot of snackbar elements that just end up sitting in the DOM.

Maybe these should be removed, for performance reasons?

[2019-09-18 04:19] eolant commented on #28
@Nikey646 can you please provide an example or more details to reproduce this behaviour?

[2019-09-18 07:11] eolant commented on #28
@Nikey646 Ok, I still don't see the component sitting in DOM since it's replaced with empty comment when `VSnackbar` `value` is `false`, but I did check some memory snapshots and I can see that number of `VueComponent` was growing with each toast call. This commit fixes that by calling `$destroy()` for each instance. But empty comments are still there and I didn't find a way to remove them yet.

[2019-09-18 08:27] eolant commented on #26
@jappyjan check out new `slot` option I've added, you can use `this.$createElement` to create links buttons and other components.

[2019-09-18 08:27] #26 closed

[2019-09-18 09:29] jappyjan commented on #26
thanks a lot! this solved it! great work!

[2019-09-19 02:25] Nikey646 commented on #28
It seems that you found something.

As far as my own personal use case, i had a scenario where user interaction caused an Ajax Request, and i was using a toast to show both successful and error responses. When the user did a large number of those interactions, without reloading the page, the whole page would crawl to a stop quite quickly.

I went to check something in the Vue Dev Tools, and notice

[2019-09-19 02:33] Nikey646 commented on #28
A quick google later, and it appears to completely remove a vue.js object from the dom, you need to first call .$destroy() and then .$remove() [forum thread](https://forum.vuejs.org/t/how-to-wait-for-element-removal-from-doc-after-vm-destroy/5258/8), [api docs](https://012.vuejs.org/api/instance-methods.html#vm-$remove(_[callback]_)). You can also optionally do [`.$destroy(true)`](https://012.vuej

[2019-09-19 04:56] eolant commented on #28
@Nikey646 docs seems to be from older versions. Vue 2.6 don't have params for `.$destroy()` and there is no `.$remove()`. Can you please test if you see components in Vue Dev Tools after updating to `0.6`?

[2019-09-19 06:13] Nikey646 commented on #28
Ahh poop, I didn't realize that I was viewing older versions of the docs... That's annoying.

I'll check it out when i next get a chance!

[2019-09-19 06:54] Nikey646 commented on #28
This appears to at least reduce how badly the impact is. I no longer see multiple `<Root>` elements in Vue devtools either. I'll close this issue for now, thanks for the prompt fix!

[2019-09-19 06:54] #28 closed

[2019-09-19 06:59] eolant commented on #28
Thanks for your assistance!

[2019-09-25 18:00] ChrisKader commented on #19
Below is my configuration. I am using electron nuxt with no issues.

- plugins/snackstack.js

[code]

- plugins/veutify.js

[code]

- nuxt.config.js

[code]

[2019-09-25 18:05] ChrisKader commented on #19
My goal over the next few days is to get this connected to Vuex so that I can do a commit to an array and produce an alert.

[2019-09-26 00:02] eolant commented on #19
@ChrisKader you can use:
[code]

[2019-09-30 15:51] julpat opened #29 "Missing method for close all "$toasts""
When I have group of $toasts (`error` form validation messages), then fix the form and submit, I want to close all current $toasts and show new one (maybe a `success` message if I got lucky).

So something like `this.$toast.closeAll()`.
(And `this.$toast.getQueue)` could be also nice to have accessable 😇 )

Current behavior: new `success` message appears at the end of queue and user does not see i

[2019-10-02 13:02] eolant commented on #29
@julpat great idea, I'll do that as soon as I have time :) thinking about method `clearQueue` which will clear all queued toasts.

[2019-10-03 20:35] paulrad commented on #19
My fix in `plugins/toast.js` :

[code]

[2019-10-08 10:58] #29 closed

[2019-11-12 14:01] jonaswikstrom opened #30 "VSnackbar component not found when using Vue Cli 3.0"
Probably an issue regarding me as a newbie: but

When creating project using Vue cli 3.0 vuetify is imported with

`import` vuetify from './plugins/vuetify';`

Using
`import vuetify, { VIcon, VSnackbar } from './plugins/vuetify';`

Results in:
`export 'VSnackbar' was not found in './plugins/vuetify'`

and

`Unknown custom element: <v-snackbar> - did you register the component correctly?`

[2019-11-12 22:30] eolant commented on #30
Hi there,

Have to be `import Vuetify, { VSnackbar, VBtn, VIcon } from 'vuetify/lib'`
You either have to export these components from your `./plugins/vuetify` or use `vuetify/lib`

[2019-11-12 22:30] #30 closed

[2019-11-19 08:36] goraSi opened #31 "Using Nuxt.js production build, snackbar isn't shown"
I'm using Nuxt.js latest version and Vuetify module for nuxt. Toast service works OK when running in development via `npm run dev`. But when i build application for production, toast messages aren't shown.

I have this in plugins/vuetify-toast.js

[code]

and in config/nuxt.js

[code]

Can you help me to identify what might be wrong in my code?

[2019-11-20 11:51] lukasportal commented on #31
same happening here

[2019-11-26 05:57] eolant commented on #31
Need a bit more details. Just tested it and toast shows for both both `npm run build` and `npm run generate`. Maybe it's you build configuration isn't setup properly? Do you use vuetify loader?

[2019-11-26 08:19] goraSi commented on #31
I'm using Server-Side Rendered Deployment (aka. SSR). By default, Nuxt uses vue-loader, file-loader and url-loader webpack loaders. After some digging i looked in the broswer source code and v-snackbar is placed as last element of the body tag. Maybe this could be the problem.

`<body>
    <div id="__nuxt">
      <div id="__layout"></div>
        <div data-app="true" class="v-application v-applica

[2019-11-26 19:52] eolant commented on #31
Have you tried using `ssr: false`?
[code]

[2019-11-26 21:31] goraSi commented on #31
I have tried with this option but the problem still exists. In html source i can see v-snackbar tag stacking and not removing as in dev build.

[2019-11-26 21:54] eolant commented on #31
How does your `nuxt.config.js` looks like? And what command are you using to build it?

[2019-11-26 22:12] goraSi commented on #31
I have attached `nuxt.config.js`. I'm using Adonis.js as server with commands `npm run build: "cross-env NODE_ENV=production node ./ace nuxtbuild"` and `npm run start: "cross-env NODE_ENV=production node server.js"`.
[nuxt.zip](https://github.com/eolant/vuetify-toast-snackbar/files/3894228/nuxt.zip)

[2019-11-26 22:20] eolant commented on #31
Not sure if server should matter much. In my `nuxt.config.js` I also use `VuetifyLoaderPlugin`. Can you try using it in your build options?
[code]

and you'll need to add it to your `package.json`.

[2019-11-26 22:26] goraSi commented on #31
I already have installed `vuetify-loader 1.3.1` but folder `lib/plugin` does not exists.

[2019-11-26 22:37] eolant commented on #31
Maybe you need to specify extension specifically `plugin.js`: [plugin](https://github.com/vuetifyjs/vuetify-loader/blob/master/lib/plugin.js)

[2019-11-26 22:54] goraSi commented on #31
Ok i figured it out that the problem was in vuetify-loader option `treeShake: true` for production [tree-shaking](https://vuetifyjs.com/en/customization/a-la-carte). I have disabled this and snackbar is working. Thanks for your help on this.

[2019-11-26 22:54] #31 closed

[2019-11-26 23:07] eolant commented on #31
Awesome :)

[2019-11-27 17:00] brenoassp opened #32 "[Feature Request] Option to add custom attributes"
# Problem to solve
I need to get the component in my end-to-end tests. The current solution is to get it by the `vts` CSS class, but the the ideal is to get it by the attribute `data-cy`.

# Proposed solution
Add a prop `attrs` that will receive an object and use `v-bind` with this prop in the snackbar component . Each key of the `attrs` object will be the name of the attribute being created.

[2019-12-02 09:52] mrcndn commented on #2
This happens during nuxt's server rendering.

Following workaround resolved my issue,

 if (process.client) {
        this.$toast('Default toast');
 }

[2019-12-02 19:20] eolant commented on #2
@mrcndn thanks. Also If using Nuxt it's possible to specify client only plugin.

[2019-12-06 09:15] mean-cj opened #33 "toast-snackbar not work with nuxt build"
Hello

toast-snackbar work with only run dev (yarn dev)
run build not work , snackbar not show

**HTML Source from run dev**
`<div class="v-snack v-application vts v-snack--active v-snack--bottom v-snack--right" role="alert"><div class="v-snack__wrapper success"><div class="v-snack__content"><i aria-hidden="true" class="v-icon notranslate vts__icon v-icon--left mdi mdi-check theme--dark"></i> <div

[2019-12-06 18:50] eolant commented on #33
Take a look at #31 seems like a similar problem

[2019-12-08 08:50] mean-cj commented on #31
Hello @goraSi

How do you work?

now i'm not work
i will add vuetify-loader and add this
[code]

[code]

" I have disabled this and snackbar is working."
What do you mean?

thank you.

[2019-12-09 06:46] goraSi commented on #31
I'm using `Nuxt.js` which has a bit different config then using pure `Vuetify Loader`.  Bellow is a snippet from `@nuxtjs\vuetify` module loading:

[2019-12-10 08:47] mean-cj commented on #31
Hi @goraSi

vuetify-dialog-promise work for me.

Thank your share.

[2019-12-10 09:58] #33 closed

[2020-01-06 06:26] kamikazechaser commented on #33
Solution is to add this to your `nuxt.config.js`:

[code]

@eolant However, tree shaking is an important feature, maybe this library is somehow not playing well with the current build settings for vuetify loader in Nuxt. Could there be an alternative way to load this plugin specifically for Nuxt?

cc/ @goraSi

[2020-01-11 01:51] loia5tqd001 commented on #33
@kamikazechaser  Please look at [this](https://github.com/loia5tqd001/Clone-Netflix-SE215/blob/641d2c5ba125198625f89dcf65068a560f3c394c/web/nuxt.config.js#L73). Am I doing right?

I still got the text at the bottom of the page instead of the snackbars after adding `treeShaking: false`, here's the screenshot:
![image](https://user-images.githubusercontent.com/31364664/72196992-15249080-344f-11ea-86

[2020-01-11 04:19] kamikazechaser commented on #33
@loia5tqd001 My bad, its `treeShake`. Updated my previous comment.

[2020-01-11 06:19] loia5tqd001 commented on #33
@kamikazechaser works now, many thanks

[2020-01-13 18:36] hamzamihaidanielx commented on #18
And, when can we expect a fix for this? I'm using it too...

[2020-01-13 21:43] hamzamihaidanielx commented on #19
This does not work either "Cannot read property '$options'". No matter what. Seems pointless...

[2020-03-17 01:15] davbaron opened #34 "Cannot get snackbar to show - Unknown custom element"
Hello, I am very new to both Vue and Vuetify. However I have the beginning of a project working fine. I would like to use this plug in. I am not using nuxt. I am using vuetify 2.x and vue 2.x.  I've tried installing as instructed - I did:  npm install vuetify-toast-snackbar just fine.

My 'main.js' has:  import VuetifyToast from 'vuetify-toast-snackbar' at the top... and:  Vue.use(VuetifyToast) in

[2020-03-17 12:37] bagaskarala commented on #6
I also experience this issue and has been solved by sunriseydy's answer. Please just add this information on readme

[2020-03-17 16:40] davbaron commented on #34
I re-read all of the closed issues and found my error.  I had mistakenly added the 'components block' to the 'export default new Vuetify({ section instead of the Vue.use(Vuetify section.  Once I did it correctly, as the install instructions specified, all works fine.

[2020-03-17 16:41] #34 closed

[2020-03-17 20:45] davbaron opened #35 "Position toast within dialog"
I believe this is an enhancement request.  I would like to show a toast within a dialog, meaning, the 'x' and 'y' properties would be relative to either the 'current' component (if that can be deduced) or a named component.  As an example, I have a 'Sign In' component that is popped up in a modal dialog.  The 'window' (of the dialog) is small in comparison to the overall browser window.  If the us

[2020-03-26 16:33] fnoop commented on #30
[code]
This doesn't work getting the same error as above.  Using the standard vuetify webpack setup.
@vue/cli 4.2.3
vuetify@2.2.18

[2020-04-01 17:06] phiter opened #36 "Remove alert role from root element."
Hello again!

A few months ago I opened issue #23 and you added the `role="alert"` to the component, fixing the issue.

But now Vuetify itself added `role="alert"` to the `snackbar_wrapper` element.

With this, this plugin is generating two  `role="alert"` within a single snackbar, causing the screenreader to say "alert" twice.

[2020-05-07 12:14] votintsev commented on #31
TreeShaking must be enable for SASS variables and since nuxt/vuetify-module 2.0 there is no way to not use treeShaking you can't just set `treeShake` as `false`

But you can set manuall imports components in **nuxt.config.js**:

[code]

**plugins/vuetify-toast-snackbar.js**
[code]

Note. You not need vuetify plugin. Also, remove related options from build section in nuxt.config.js
[code]

[2020-05-24 17:26] maratumba opened #41 "There is no 'plugins/vuetify.js' in nuxt"
I'm using nuxt with vuetify. The instructions say to update `plugins/vuetify.js` to add the toast-snackbar but I don't have this in my default nuxt-vuetify config, which uses `@nuxtjs/vuetify` module.

I've tried to create a plugin anyway. But I'm getting an `Unknown custom element: <v-snackbar>` error after I added a `plugins/toast.js` file, added it to the `plugins` list in `nuxt.config.js` and

[2020-05-28 21:16] RonAlmog commented on #41
here is what works for me, hope it will work for you as well:
under plugins, a file called vuetify.js
[code]
in nuxt.config.js, in the plugins array, add this:
[code]
let me know how it goes ;)

[2020-06-04 15:51] lef-nicolas commented on #33
I had the same issue and found, I think, a better solution from https://github.com/nuxt-community/vuetify-module/pull/110 and https://github.com/nuxt-community/vuetify-module/issues/109
In your `nuxt.config.js` :
[code]

At least treeShake will work for other components :)

[2020-06-11 03:31] corey-cosman commented on #34
@davbaron do you mind posting your solution? Can't seem to get it working, have same error

[2020-06-11 18:31] davbaron commented on #34
Hello Corey,

Hopefully this will get to you…

Shortly after my issue with Eolant Toast/Snackbar, I decided to switch to a different source for my ‘toast/snackbar’ needs:  https://github.com/xon52

The developer produces a ‘notify’ component, which is very similar to the Eolant offering.  However he also produces a ‘modal dialog’ component and a ‘google maps component’ which I use.   He is very ac

[2020-06-17 09:24] Morney opened #42 "[Vue Warn] - Error in render"
[code]

getting the above error in console when trying to use this plugin, also I am getting this error when using the demo site:
https://eolant.github.io/vuetify-toast-snackbar/

This seems to only of started happening today, any thoughts on why this is happening?

[2020-06-17 12:23] cnayan commented on #42
I noticed this too after upgrading
from
    "vuetify": "^2.1.12",
    "vuetify-loader": "^1.4.2",
to
    "vuetify": "^2.3.0",
    "vuetify-loader": "^1.5.0",

The sample app was working on vuetify 2.1.12

[2020-06-17 12:24] cnayan commented on #42
This issue is being discussed in Discord channel https://discord.com/channels/340160225338195969/351121729164410882

[2020-06-17 12:25] cnayan commented on #42
The demo app is broken too with this error

Link to demo: https://eolant.github.io/vuetify-toast-snackbar/

[2020-06-17 12:31] Morney commented on #42
Thanks @cnayan
As far as I am aware this is not linked with Vuetify developers, so the guys at vuetify wont really look into this.

the newest version of vuetify brings some changes into snackbars and so I believe this plugin will need its code updating to come inline with recent changes.

[2020-06-17 13:42] cnayan commented on #42
One of the core team member of Vuetify said

**Due to internal changes made in VSnackbar, this plugin will have to be updated before it can be used in 2.3**

[2020-06-17 14:04] Morney commented on #42
@eolant has had no contribution on git since Oct last year, so may have to look at other options for this plugin :(

[2020-06-18 10:15] duowb commented on #42
Try this way
`
import Vuetify  from "vuetify/lib";
const VuetifyObj = new Vuetify({
  theme: {},
  lang: {
    locales: { zhHans },
    current: "zhHans"
  }
});

export default VuetifyObj;

Vue.use(VuetifyToast, {$vuetify: VuetifyObj.framework}
`

[2020-06-18 12:20] cnayan commented on #42
@duoWB It worked! Thank you!

Here is the compiling code:

`
import Vue from 'vue';
import Vuetify, { VSnackbar } from 'vuetify/lib'
import VuetifyToast from 'vuetify-toast-snackbar'

Vue.use(Vuetify, {
  components: {
    VSnackbar
  }
})

const opts = {}; // your options

const vueObj = new Vuetify(opts);

export default vueObj;

Vue.use(VuetifyToast, { $vuetify: vueObj.framework });
`

[2020-06-18 14:09] ricardo17coelho commented on #42
@duoWB @cnayan

Hi @cnayan and @duoWB  Thank you!
This doesn't work for me.
![image](https://user-images.githubusercontent.com/37732431/85030583-e76e1100-b17d-11ea-8ab6-ca60a6507e0b.png)

[2020-06-18 14:30] Morney commented on #42
Ive got this working, seems good, thank you @cnayan  and @duoWB

@ricardo17coelho

try moving your:
Vue.use(vuetifyToast....

put this below the export default vueObj

Then get rid of Vue.use(vuetifyToast, { $vuetify: vueobj.framework });

And just add that into the full declaration like this:

`Vue.use(VuetifyToast, {
    $vuetify: vuetify.framework,
    x: 'right', // default
    y: 'top', // de

[2020-06-18 14:37] ricardo17coelho commented on #42
it works.
thanks @cnayan , @duoWB and @Morney

[2020-06-18 14:44] jaredhan418 commented on #42
Fixed. Commited Pull Request. Only Work with Vuetify 2.3 above
https://github.com/jaredhan418/vuetify-toast-snackbar

[2020-06-19 01:11] Dimashaman commented on #42
Cant make it work... =(

app.js:71006 [Vue warn]: Error in render: "TypeError: Cannot read property 'rtl' of undefined"

found in

---> <VApp>

`import Vue from "vue";
import Vuetify, { VSnackbar, VBtn, VIcon } from "vuetify/lib";
import VuetifyToast from "vuetify-toast-snackbar";
import ru from "vuetify/src/locale/ru.ts";
import "material-design-icons-iconfont/dist/material-design-icons.css";
imp

[2020-06-19 07:54] TeleMediaCC commented on #42
Resolve problem in nuxt.js plugin:

[code]

[2020-06-19 08:01] TeleMediaCC commented on #42
Solution with shorthand:

[code]

[2020-07-03 13:03] phiter commented on #42
There's another issue. The snackbar layout is broken.

[2020-07-04 03:42] jaredhan418 commented on #42
Hey guys, I'm uploaded a npm package https://www.npmjs.com/package/vuetify-toast-snackbar-ng compatible with Vuetify 2.3+

[2020-07-04 10:02] ricardo17coelho commented on #42
@phiter I can confirm this...
![image](https://user-images.githubusercontent.com/37732431/86510221-30fd6380-bdee-11ea-9f61-35784da398a5.png)
also in @jaredhan418 package

[2020-07-04 19:23] cnayan commented on #42
@phiter @ricardo17coelho
Somehow, this layout issue is not happening for me. What is different in your code?

[2020-07-07 10:27] davidsmej88 commented on #42
@phiter @ricardo17coelho. Try create global.css file, for example in src/assets and set this style
[code]
Then import this global file in main.js

`import '../src/assets/global.css';`

[2020-07-07 11:54] phiter commented on #42
@davidsmej88 I ended up just copying the  source code to my repo instead of downloading the package, since the package is not being updated anymore.

[2020-07-07 23:08] eolant commented on #42
Sorry, guys, been very busy with a new job, I'll find time to resolve all issues soon, promise!

[2020-07-25 12:05] pijlwagen commented on #42
typeof 'soon' === 'undefined'; // true

[2020-08-15 16:23] puzzle9 commented on #41
maybe try https://github.com/eolant/vuetify-toast-snackbar/issues/42#issuecomment-646499345

[2020-08-17 13:35] p0wl90 commented on #42
any updates on this? any timeline?

[2020-08-17 13:41] pijlwagen commented on #42
No, use https://www.npmjs.com/package/vuetify-toast-snackbar-ng

[2020-08-18 03:26] jaredhan418 commented on #42
Hi there, I'm updating a new version of _vuetify-toast-snackbar-ng_ welcome to use.

[2020-08-18 06:26] p0wl90 commented on #42
Ah nice! When I looked yesterday the layout bug still existed in your repo but you just fixed it. Thanks!

[2020-08-18 06:34] p0wl90 commented on #42
@jaredhan418 I just saw that the layout is still a bit off (the close icon is too far on the right):
![image](https://user-images.githubusercontent.com/6959020/90478422-6e634980-e12d-11ea-9416-17e73d3b7be5.png)

I'm posting this issue here because your repository does not have an issue tracker. Maybe you can add one?

[2020-08-18 06:38] jaredhan418 commented on #42
https://github.com/jaredhan418/vuetify-toast-snackbar-ng/issues here you are.

[2020-08-20 05:01] vickyrare opened #46 "Does not work with Vuetify 2+"
vue.js:634 [Vue warn]: Error in render: "TypeError: Cannot read property 'bar' of undefined"

found in

[2020-08-20 07:12] vickyrare commented on #46
Found the solution in the link.

https://github.com/eolant/vuetify-toast-snackbar/issues/42

[2020-08-20 07:12] #46 closed

[2020-08-20 07:12] vickyrare commented on #46
Found the solution in the link.
https://github.com/eolant/vuetify-toast-snackbar/issues/42

[2020-10-03 09:58] cliek opened #47 "The root SNACK node DOM is not removed after snackBar is closed"
Hello, I am using your plug-in and found that after multiple executions of the show method, multiple elements of `.v-snack v-application` type Dom will be generated at the root node. I think this may not be true for a single page Great, I read many methods and issues https://github.com/eolant/vuetify-toast-snackbar/issues/28, and there is no good way to deal with it.
`run this.$toast('hello')`
![i

[2020-10-21 14:28] lorro commented on #42
@jaredhan418 I installed your package instead of vuetify-toast-snackbar but getting some strange errors
[code]

[2020-10-21 14:58] p0wl90 commented on #42
There is a link to the issue tracker of his package literally above your post.

[2020-10-22 07:20] jaredhan418 commented on #42
Check your package.json or webpack setting. Not my package error.

[2020-10-22 07:21] jaredhan418 commented on #42
Check your package.json or webpack setting. Not my package error.

[2020-11-06 15:06] VitalyEmelyanov opened #48 "Demo is not working"
Demo at https://eolant.github.io/vuetify-toast-snackbar/ seems to be broken...

![Nov-06-2020 17-05-30](https://user-images.githubusercontent.com/15330670/98381315-6216ca80-2052-11eb-84c0-8f439860e748.gif)

[2020-11-16 20:35] VictorioBerra commented on #42
[code]

[2020-12-04 12:23] applelizihao opened #49 "nuxtjs打包后无法正常显示，将变成一段文字"
![image](https://user-images.githubusercontent.com/47731529/101163418-8a541200-366e-11eb-92a7-54671582e6ec.png)

[2020-12-30 03:09] hackeresq commented on #48
It's not just the demo. This package is not working on Vuetify 2.3+

[2021-04-09 05:58] gravitano commented on #48
Any update?

[2021-04-25 03:29] zXiaobing commented on #48
see this repository https://github.com/mmoore99/vuetify-toast-snackbar-fbits

[2021-06-21 07:26] chenguzhen87 opened #55 "Upgrading the vuetify library results in style exception"
![image](https://user-images.githubusercontent.com/28331609/122722758-afc00a80-d2a4-11eb-8f4d-2be7d2040d0e.png)

[2021-06-25 12:12] chenguzhen87 opened #56 "abnormal style ？"
vuetify-2.5.4
vuetify-toast-snackbar-0.6.1
![image](https://user-images.githubusercontent.com/28331609/123422888-6b5ca380-d5f1-11eb-8eca-495216fdf6de.png)

[2021-06-25 13:29] chenguzhen87 commented on #56
I solved below
[code]

[2021-06-29 11:44] koloux opened #57 "Démo is not working"
When accessing the demo there seems to be an issue :

https://eolant.github.io/vuetify-toast-snackbar

[2021-08-30 08:53] AutismPatient commented on #57
I found the warehouse no longer active

[2021-10-24 21:07] easy-ms commented on #19
I'm using toast with own plugin to handle errors from API. Here's my solution that work.

`plugins/axios.js`
[code]

`nuxt.config.js`
[code]

[2021-11-17 08:44] GaborTorma opened #59 "app prop for Snackbar"
In Vuetify 2.6 VSnackbar only add app padding if app prop is true ([28e9e9d](https://github.com/vuetifyjs/vuetify/commit/28e9e9d2bf6f8d9b24dfc954501f0458bb29c3b7)), closes [#11758](https://github.com/vuetifyjs/vuetify/issues/11758)

Please create  a new `app` options to set VSnackbar app prop.

[2021-12-07 06:35] GaborTorma commented on #59
Please create a new app options to set VSnackbar app prop.

[2022-03-07 18:44] kakulukia commented on #30
I also get the same error as above. @eolant could you explain the error in fnoops code?